.container {
  flex: 2;
  margin-top: 60px;
}

.subtitle {
  color: grey;
  font-size: 16px;
  font-weight: 400;
}
.items {
  margin-top: 35px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.category {
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 12px;
  color: white;
  width: max-content;
}
.category.travel {
  background-color: firebrick;
}
.fashion {
  background-color: chocolate;
}

.imageContainer {
  flex: 1;
  position: relative;
  /* to see the iamge apply height */
  /* aspect retion 1/1 mean height and width same size */
  aspect-ratio: 1/1;
}

.image {
  border-radius: 50%;
  border: 3px solid lightblue;
  object-fit: cover;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.postTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--softTextColor);
}
